// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// import page css

// global styles

::-webkit-scrollbar {
  display:none;
}

.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.padding-xs {
  padding: 10px;
}

.round {
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

// left menu style
.menu-left {
  img.profile-picture {
    width: 7em;
    height: 7em;
    margin-top: 0.75em;
    border-radius: 50%;
  }

  h4 + button {
    color: #fff !important;
    border-color: #fff !important;
    border-radius: 10px !important;
    height: 1.8em !important;
  }

  h4 + button.activated {
    opacity: 0.3 !important;
  }
}

// position
.align-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-list.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item-block {
    .item-inner {
      border: none;
    }
  }
}

ion-list.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, listBorder);
  }

  ion-badge {
    background-color: #ed3237;
    border-radius: 10px;
  }
}

.item-divider {
  background-color: #f5f5f5;
}

.bottom-buttons {
  position: absolute;
  bottom: 0;
}

.item {
  h4 {
    font-size: 1.2em;
    font-weight: bold;
  }
}

// auth page
.logo {
  margin: 18px auto 0;
  width: 50%;
}

.auth-bg {
  background: url("../assets/img/bg2.jpg") no-repeat center;
  background-size: 100% 100%;

  .scroll-content {
    height: 100%;

    .auth-content {
      width: 86%;
      margin-left: 7%;
      margin-top: 40px;

      .light-bg {
        // keep only bottom border
        .item-input {
          margin: 0;
          padding-left: 0;
          border: none;
          border-bottom: 1px solid #DDD;

          .item-inner {
            border: none;
          }
        }
      }
    }
  }
}
